//Fuentes
$fuentePrincipal: "Raleway", sans-serif;
$fuenteSecundaria:"Roboto", sans-serif;
$fuenteCursiva: "Bona Nova", serif;



//Media Queris

$telefono: 480px;
$tablet:768px;
$desktop: 1024px;

//Colores
$primario: #5E311E;
$secundario: #C39C63;
$negro: #000000;
$blanco: #FFFFFF;
$cafeClaro: #EBE7DE;
$grisClaro: #ECEEEF; 

//Unidades
$separacion: 5rem;