@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos{
    margin-top: 5rem;
    .listado-iconos{
        
        li{
            img{
                margin: 0 auto;
                width: 15rem;
            }
            p{
                font-family: v.$fuenteCursiva ;
                color: v.$primario;
                font-size: 3.2rem;
            }
        }

        @include m.tablet { 
            @include m.grid(3, 2rem);
         }
    }
}